<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <section class="games-container main-container">
      <h1><%= title %></h1>
      <a href="/games"><button class="add-game-btn">Add Game</button></a>
      <div class="games-list">
        <% games.forEach(function(game) { %>
        <a href="/games/<%= game.id %>">
          <div class="game-card">
            <img src="<%= game.image_url %>" alt="<%= game.game_name %>" />
            <h2><%= game.game_name %></h2>
            <p>Publisher: <%= game.publisher %></p>
            <p>Cost: $<%= game.cost %></p>
            <p>Year of Release: <%= game.year_of_release %></p>
          </div>
        </a>
        <% }); %>
      </div>
    </section>
    <%- include('footer') %>
  </body>
</html>
